#home-header {
  color: white;
  font-size: 80px;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 7px;
  padding-bottom: 18px;
}

div.app-header{
  background-color: #D22C2C;
  /* padding: 0px 15px 15px 15px; */
}

/* #current-user{
  font-size: 40px;
  font-family: 'Marcellus SC', serif;
  color: white;
  padding: 33px 30px 0px 30px;
} */

#eatr-logo{
  /* padding-left: 725px; */
  /* padding-left: 43.5%; */
  padding-left: 26%;
}

#menu-right{
  padding-right: 2%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
