  /* Portrait iPhone 6+ 7+ 8+ */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

  #home-header-container{
    padding: 5% 2% 5% 2%;
  }

  #home-header {
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Marcellus SC', serif;
    letter-spacing: 7px;
    padding: 0% 0% 5% 0%;
  }

  div.ui.secondary.menu{
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.app-header{
    background-color: #D22C2C;
  }
}

/* For Web */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
  #home-header {
    color: white;
    font-size: 80px;
    font-family: 'Marcellus SC', serif;
    letter-spacing: 7px;
    padding-bottom: 18px;
  }

  div.ui.secondary.menu{
    padding-top: 0px;
  }

  div.app-header{
    background-color: #D22C2C;
  }

  #eatr-logo{
    padding-left: 27%;
  }

  #menu-right{
    padding-right: 2%;
  }
}









.App {
  text-align: center;
  font-size: 18px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
