  /* Portrait iPhone 6+ 7+ 8+ */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
div.card {
  height: 39rem;
}

#card{
  width: 27rem;
}

div.business-image img{
  height: 25rem;
  width: 25rem;
}

#header {
  font-family: 'Marcellus SC', serif;
  letter-spacing: 3px;
}

#meta {
  font-family: 'Marcellus SC', serif;
}

#description {
  color: black;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 1px;
}

#extra-content {
  color: black;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 2px;
}
}


  /* For Web */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
div.card {
  height: 45rem;
}

div.business-image img{
  height: 31rem;
  width: 31rem;
}

#header {
  font-family: 'Marcellus SC', serif;
  letter-spacing: 3px;
}

#meta {
  font-family: 'Marcellus SC', serif;
}

#description {
  color: black;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 1px;
}

#extra-content {
  color: black;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 2px;
}
}
