#NavBar {
  background-color: #A6B170;
  /* background-size: contain; */
  /* background-image: url('http://realpropertyalpha.com/p/2018/04/best-photos-of-mexican-restaurant-menu-backgrounds-mexican-intended-for-dinner-menu-background.jpg'); */
}

#item {
  color: white;
  font-size: 15px;
  font-family: 'Marcellus SC', serif;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#current-user {
  color: white;
  font-size: 24px;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 2px;
  text-shadow: black 0.1em 0.1em 0.2em;
}
