/* #NavBar {
  background-color: white;
}

#item {
  color: white;
  font-size: 15px;
  font-family: 'Marcellus SC', serif;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#current-user {
  color: white;
  font-size: 24px;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 2px;
  text-shadow: black 0.1em 0.1em 0.2em;
} */
