#businesses-header {
  font-size: 30px;
}

#grid {
  background-size: contain;
  background-color: white;
  color: white;
}

@media (min-width: 992px) {
#businesses-container {
  margin-left: 50px;
  margin-right: 50px;
}

#businesses-header {
  font-size: 30px;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#grid {
  background-size: contain;
  background-color: white;
  color: white;
}
}
