div.card {
  height: 39rem;
}

#card{
  font-size: 15px;
  width: 27rem;
}

div.business-image img{
  height: 25rem;
  width: 25rem;
}

div.header a{
  font-size: 20px;
}

#header {
  font-family: 'Marcellus SC', serif;
  letter-spacing: 3px;
}

#meta {
  font-family: 'Marcellus SC', serif;
}

#description {
  color: black;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 1px;
}

div.extra.content span{
  font-size: 12px;
}

@media (min-width: 992px) {
div.card {
  height: 45rem;
}

div.business-image img{
  height: 31rem;
  width: 31rem;
}



#header {
  font-family: 'Marcellus SC', serif;
  letter-spacing: 3px;
}

#meta {
  font-family: 'Marcellus SC', serif;
}

#description {
  color: black;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 1px;
}

#extra-content {
  color: black;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 2px;
}
}
