.App {
text-align: center;
font-size: 18px;
}

#home-header-container{
  color: white;
  background-color: #D22C2C;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 80px;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 7px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 10vh;
  padding-top: 3%;
}

#eatr-logo {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Marcellus SC', serif;
  letter-spacing: 7px;
}

@media (min-width: 576px) {
#home-header-container{
  padding-top: 1%;
}
}
@media (min-width: 992px) {
#home-header-container{
  font-size: 90px;
  padding-top: 1%;
}
}